<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyy-MM-dd HH:mm:ss.SSS} %X{sessionId} [%t]  %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/log.log"
                     append="false" filePattern="logs/log-%d-%i.log">
            <PatternLayout
                    pattern="%d{yyy-MM-dd HH:mm:ss.SSS} %X{sessionId} [%t]  %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="500Mb"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="forex" level="info" additivity="true"/>
        <Root level="all">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="RollingFile" level="debug"/>
        </Root>
        <Root level="warn">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="RollingFile" level="debug"/>
        </Root>
    </Loggers>
</Configuration>
